* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;

}
/* Task 1 */
#categories{
  padding: 24px;
  width: 440px;
  height: 888px;
background: #fff;
 border-radius: 8px;
    position: absolute;
    left: 35%;
  
   

}

.item{
  list-style: none;
    border-radius: 8px;
    padding: 16px;
    background: #f6f6fe;
      
}
.item:not(:last-child) {

  margin-bottom: 24px;
}
.item>h2{
  display: inline-block;
  margin-top: 0;
  margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}
.item>ul{
  padding: 0;
  
}
.item>ul>li{
 list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    border: 1px solid #808080;
      border-radius: 4px;
      width: 360px;
        height: 40px;
        padding: 8px;
      
}
.item>ul>li:not(:last-child){
margin-bottom: 8px;
}

/* Task 2 */

.gallery{
padding: 100px 0;
display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
}
.gallery-item{
list-style: none;
}
.gallery-img{
height: 300px;
width: 360px; 
object-fit: cover;
border-radius: 4px;
}

/* Task 3 */
.container-name{
  border-radius: 8px;
    padding: 24px;
    width: 408px;
    height: 136px;
    background: #fff;
      position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
#name-input{
  border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding:8px 140px 8px 16px;
    margin-bottom: 16px;
}

h1{
font-weight: 600;
font-size: 24px;
line-height: 133%;
letter-spacing: 0.04em;
color: #2e2f42;
margin: 0;
}

/* Task 4 */

.container-form{
  border-radius: 8px;
    padding: 24px;
    width: 408px;
    height: 256px;
    background: #fff;
      position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
label{
  display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.login-form>label>input{
  width: 360px;
  height: 40px;
 
  stroke: #808080;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.login-form>label>input:hover,
.login-form>label>input:focus{
  border-radius: 4px;
  border-color: black;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
 
}
.login-form>label>input:active {
  stroke: #2e2f42;

}
.button-form{
  border-radius: 8px;
    padding: 8px 16px;
    width: 86px;
    height: 40px;
    background: #4e75ff;
    border: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.04em;
      color: #fff;
      text-align: center;
      margin-top: 8px;
      cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
}

.button-form:hover,
.button-form:focus{
  background: #6c8cff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  
}

/* Task 5 */
.widget{
  border-radius: 8px;
    padding: 100px 88px;
    width: 345px;
    height: 280px;
    background: #fff;
      position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
}
.widget>p{
 
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin-top: 0;
 
}
.change-color{
  border-radius: 8px;
    padding: 8px 16px;
    width: 148px;
    height: 40px;
    background: #3bc76b;
    border: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.04em;
      color: #fff;
      cursor: pointer;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
}
.change-color:hover,
.change-color:active {
  background: #6c8cff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* Task 6 */
 .container {
  position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
#controls{
  display: flex;
  border-radius: 8px;
    background: #f6f6fe;
    width: 486px;
    height: 104px;
    padding: 32px 32px;
  margin-bottom: 16px;
  
}
 input{
  border: 1px solid #808080;
    border-radius: 8px;
    padding: 6px 55px;
    width: 150px;
    height: 40px;
    margin-right: 16px;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.04em;
      color: #2e2f42;
      background: #f6f6fe;
    
 }

  button{
    padding: 8px 16px;
    width: 120px;
     border-radius: 8px;
    height: 40px;
    background: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    gap: 16px;
    border: none;
    cursor: pointer;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
    }
    button:hover{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    button[data-destroy]{
    background: #ff4e4e;
    margin-left: 16px;
  }
    button[data-destroy]:hover{
      background: #ff7070;
    }
    
    button[data-create]:hover {
      background: #6c8cff;
    }
    
    #boxes{
      border-radius: 8px;
        padding: 32px;
        width: 486px;
        height: 100%;
        background: #f6f6fe;
        display: flex;
        flex-direction: row;
          flex-wrap: wrap;
          flex-shrink: 0;
        gap: 40px;
    }
   